*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #F5F7FB;
  color: #293264;
  font-family: "Karla", sans-serif;
  overflow: auto;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



button{
  padding: 0.35rem 1rem;
  border-radius: 8px;
}

.blueBlob{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.yellowBlob{
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.start-btn{
  background-color: #293264;
  width: 190px;
  height: 55px;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: "Inter", sans-serif;
  font-weight: medium;
  font-size: 1rem;
  margin-top: 1rem;
}

.start-screen h1{
  margin: 0;
  padding: 0;
}

.start-screen p{
  margin: 0.75rem;
}

.hide-start-screen{
  display: none;
}

/* entire question component section */
.question-response-section{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DBDEF0;
  width: 100%;
}

.question-response-section h2{
  text-align: left;
  margin: 1.1rem 0;
  font-size: 1rem;
}

/* the buttons inside the question component*/
.answers-container{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 1rem;
}

/* the button itself */
.response-button{
  background-color: #F5F7FB;
  color: #4D5B9E;
  /* width: 66px; */
  /* height: 22px; */
  font-size: 0.64rem;
  border: 1px solid #4D5B9E;
}

/* the button after being selected */

.response-button.selected{
  background-color: #D6DBF5;
  border: none;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1rem;
}

footer button{
  border: none;
  background-color: #4D5B9E;
  color: white;
  padding: 0.65rem 1.2rem;
  font-size: 0.64rem;
  font-weight: 500;
}

footer p{
  font-weight: bold;
  font-size: 0.9rem;
}


.response-button.correct{
  background-color: #94D7A2;
}

.response-button.incorrect{
  background-color: #F8BCBC;
}

.response-button.transparent{
  opacity: 50%;
}

footer button.buffer{
  background-color: #fcf6bd;
  color: #293264;
  border: 1px solid #293264;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #D6DBF5; /* Light color for the whole ring */
    border-top: 5px solid #4D5B9E; /* Darker color for the moving part */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 350px){
  body{
    max-width: 300px
  };
}

@media (min-width: 500px){
  html{
    font-size: 1.15rem;
  }
}

@media (min-width: 600px){
  html{
    font-size: 1.3rem;
  }
}

@media (min-width: 700px){
  html{
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px){
  html{
    font-size: 1.7rem;
  }
}