*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #F5F7FB;
  color: #293264;
  font-family: "Karla", sans-serif;
  overflow: hidden;
}

.blueBlob{
  position: absolute;
  bottom: 0;
  left: 0;
}

.yellowBlob{
  position: absolute;
  top: 0;
  right: 0;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-btn{
  background-color: #293264;
  width: 190px;
  height: 55px;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: "Inter", sans-serif;
  font-weight: medium;
  font-size: 1rem;
  margin-top: 1rem;
}

.start-screen h1{
  margin: 0;
  padding: 0;
}

.start-screen p{
  margin: 0.75rem;
}

.hide-start-screen{
  display: none;
}

/* entire question component section */
.question-response-section{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DBDEF0;
  max-width: 400px;
}

.question-response-section h2{
  text-align: left;
  margin: 1.1rem 0;
}

/* the buttons inside the question component*/
.response-button-container{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.1rem;
  gap: 1rem;
}

/* the button itself */
.response-button{
  background-color: #F5F7FB;
  color: #4D5B9E;
  width: 66px;
  height: 22px;
  border-radius: 8px;
  font-size: 0.64rem;
  border: 1px solid #4D5B9E;
}